<p *ngIf="transactions.length === 0">Khối này không có giao dịch</p>

<table class="table table-hover table-striped" *ngIf="transactions.length > 0">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Từ</th>
      <th scope="col">Đến</th>
      <th scope="col">Số lượng</th>
      <th scope="col">Dấu thời gian</th>
      <th scope="col">Xác minh</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tx of transactions; index as index">
      <td>{{index}}</td>
      <td class="text-truncate" style="max-width: 100px;">

        <a [routerLink]="['/wallet', tx.fromAddress]" *ngIf="tx.fromAddress !== null">{{tx.fromAddress}}</a>

        <span *ngIf="tx.fromAddress === null">System</span>

        <span class="text-muted" *ngIf="blockchainService.addressIsFromCurrentUser(tx.fromAddress)">
        </span>
      </td>
      <td class="text-truncate" style="max-width: 100px;">
          <a [routerLink]="['/wallet', tx.toAddress]">{{tx.toAddress}}</a>

          <span class="text-muted" *ngIf="blockchainService.addressIsFromCurrentUser(tx.toAddress)">
          </span>
      </td>
      <td>
        {{tx.amount}}
        <span *ngIf="tx.fromAddress === null" class="text-muted"><br><small>(Phần thưởng khối)</small></span>
      </td>
      <td>
        {{tx.timestamp}}<br>
        <span class="text-muted"><small>{{tx.timestamp |date:'MMM d, y, HH:mm'}}</small></span>
      </td>
      <td style="max-width: 40px;">
        <span *ngIf="tx.isValid()">✓</span>
        <span *ngIf="!tx.isValid()">✗</span>
      </td>
    </tr>
  </tbody>
</table>
