<div class="container">
	<h1>Khối trên chuỗi</h1>
	<p>Mỗi thẻ đại diện cho một khối trên chuỗi. Bấm vào một khối để xem các giao dịch được lưu trữ bên trong.</p>
</div>

<div class="container" style="overflow-x: scroll;white-space: nowrap;">
	<app-block-view 
		*ngFor="let block of blocks" 
		[block]="block" 
		[selectedBlock]="selectedBlock"
		(click)="showTransactions(block)"
	></app-block-view>
</div>

<br><br>

<div class="container">
	<h1>  Giao dịch bên trong khối {{ getBlockNumber(selectedBlock) }}</h1>

	<app-transactions-table
		[transactions]="selectedBlock.transactions"
	></app-transactions-table>
</div>

